<div class="">
    <div class="card">
        <h1 class="mb-5"
            style="color: #93003c; font-size: 17.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
            {{editMode?"Update Ticket":"Create Ticket"}}</h1>
        <form action="" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <!-- Shipper Details -->
                <!-- Shipper Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="shippername"><strong>Shipper Name</strong></label>
                    <input pInputText id="shippername" type="text" formControlName="shipperName" />
                </div>
                <!-- Shipper Contact -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="contact"><strong>Contact Number</strong></label>
                    <input pInputText id="shipperContact" type="text" formControlName="shipperContactNumber" />
                </div>
                <!-- Pickup Address -->
                <div class="field col-12">
                    <label htmlFor="address"><strong>Pickup Address</strong></label>
                    <input pInputTextarea id="address" rows="4" formControlName="pickupAddress" />
                </div>
                <!-- Shipper Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="shipperRef"><strong>Shipper Ref Number</strong></label>
                    <input pInputText id="shipperRef" type="text" formControlName="shipperRefNumber" />
                </div>
                <!-- Origin Country -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="ocountry"><strong>Origin Country</strong></label>
                    <p-dropdown [options]="countries" placeholder="Select Country" formControlName="originCountry"
                        (onChange)="getOriginCountry($event)"></p-dropdown>
                </div>
                <!-- Origin City -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="oCity"><strong>Origin City</strong></label>
                    <p-dropdown [options]="originCities" placeholder="Select city"
                        formControlName="originCity"></p-dropdown>
                </div>
                <!-- Recipients Details -->
                <!-- Recipient Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="recipientname"><strong>Recipient Name</strong></label>
                    <input pInputText id="recipientname" type="text" formControlName="recipientName" />
                </div>
                <!-- Recipient Contact Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="contactR"><strong>Contact Number</strong></label>
                    <input pInputText id="recipientsContact" type="text" formControlName="recipientContactNumber" />
                </div>
                <!-- Delivery Address -->
                <div class="field col-12">
                    <label htmlFor="daddress"><strong>Delivery Address</strong></label>
                    <input pInputTextarea id="daddress" rows="4" formControlName="deliveryAddress" />
                </div>
                <!-- Destination Country -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="dcountry"><strong>Destination Country</strong></label>
                    <p-dropdown [options]="countries" placeholder="Select Country" formControlName="destinationCountry"
                        (onChange)="getDestinationCountry($event)"></p-dropdown>
                </div>
                <!-- Destination City -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="dcity"><strong>Destination City</strong></label>
                    <p-dropdown [options]="destinationCities" placeholder="Select city"
                        formControlName="destinationCity"></p-dropdown>
                </div>
                <!-- Pickup Date -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity"><strong>Pickup Date</strong></label>
                    <p-calendar dateFormat="yy-mm-dd" [showIcon]="true" formControlName="pickupDate"
                        [ngClass]="{'ng-dirty':ticketForm.get('pickupDate')?.touched && ticketForm.get('pickupDate')?.invalid}"></p-calendar>
                    <small *ngIf="!ticketForm.get('pickupDate')?.valid && ticketForm.get('pickupDate')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Pickup Time -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity"><strong>Pickup Time</strong></label>
                    <p-calendar [hourFormat]="24" [timeOnly]="true" formControlName="pickupTime" [showSeconds]="true"
                        [ngClass]="{'ng-dirty':ticketForm.get('pickupTime')?.touched && ticketForm.get('pickupTime')?.invalid}"
                        [required]="true"></p-calendar>
                    <small *ngIf="!ticketForm.get('pickupTime')?.valid && ticketForm.get('pickupTime')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Department -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="department"><strong>Department</strong></label>
                    <p-dropdown [options]="department" placeholder="Enter department" formControlName="department"
                        [ngClass]="{'ng-dirty':ticketForm.get('department')?.touched && ticketForm.get('department')?.invalid}"
                        (onChange)="getDepartment($event)"></p-dropdown>
                    <small *ngIf="!ticketForm.get('department')?.valid && ticketForm.get('department')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Department Category -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="departmentCategory"><strong>Department Category</strong></label>
                    <p-dropdown [options]="departmentCategory" placeholder="Enter department category"
                        formControlName="departmentCategory"
                        [ngClass]="{'ng-dirty':ticketForm.get('departmentCategory')?.touched && ticketForm.get('departmentCategory')?.invalid}"></p-dropdown>
                    <small
                        *ngIf="!ticketForm.get('departmentCategory')?.valid && ticketForm.get('departmentCategory')?.touched && !ticketForm.get('departmentCategory')?.disabled"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Assigned to -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="assignedTo"><strong>Assigned To</strong></label>
                    <p-dropdown [options]="assignedTo" placeholder="Assigned To" formControlName="assignedTo"
                        [ngClass]="{'ng-dirty':ticketForm.get('assignedTo')?.touched && ticketForm.get('assignedTo')?.invalid}"></p-dropdown>
                    <small *ngIf="!ticketForm.get('assignedTo')?.valid && ticketForm.get('assignedTo')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Category -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="category"><strong>Category</strong></label>
                    <p-dropdown [options]="categories" placeholder="Select category" formControlName="category"
                        [ngClass]="{'ng-dirty':ticketForm.get('category')?.touched && ticketForm.get('category')?.invalid}"></p-dropdown>
                    <small *ngIf="!ticketForm.get('category')?.valid && ticketForm.get('category')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Status -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="status"><strong>Ticket Status</strong></label>
                    <p-dropdown [options]="status" placeholder="Select Ticket Status" formControlName="ticketStatus"
                        [ngClass]="{'ng-dirty':ticketForm.get('status')?.touched && ticketForm.get('status')?.invalid}"></p-dropdown>
                    <small *ngIf="!ticketForm.get('status')?.valid && ticketForm.get('status')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="status"><strong>Ticket Flag</strong></label>
                    <p-dropdown [options]="ticketFlag" placeholder="Select Ticket Flag" formControlName="ticketFlag"
                        [ngClass]="{'ng-dirty':ticketForm.get('ticketFlag')?.touched && ticketForm.get('ticketFlag')?.invalid}"></p-dropdown>
                    <small *ngIf="!ticketForm.get('ticketFlag')?.valid && ticketForm.get('ticketFlag')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>



                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Add
                        ':'Update'}}" class="mx-3 submit-btn "></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>