<p>department-category-form works!</p>
<div class="">
    <div class="card">
        <form action="" [formGroup]="ticketForm" (ngSubmit)="onSubmit(ticketForm.value)">
            <div class="p-fluid p-formgrid grid">
                <ng-container formGroupName="shipperDetails">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="shippername">Name</label>
                        <input pInputText id="shippername" type="text" formControlName="shipperName" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="contact">Code</label>
                        <p-inputMask mask="(999) 999-9999" placeholder=""
                            formControlName="shipperContact"></p-inputMask>
                    </div>
                   <div class="field col-12 md:col-6">
                        <label htmlFor="ocountry">Department</label>
                        <p-dropdown [options]="countries" placeholder="Select Country" [filter]="true"
                            formControlName="originCountry"></p-dropdown>
                    </div>
                   </ng-container>
               
                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Add Department Category':'Update Department Category'}}" class="mx-3 submit-btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>
