<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 class="m-0"
                style="color: #93003c; font-size: 23px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
                All Tickets</h1>
            <div class="flex justify-content-end">
                <button pButton label="Create Ticket" class="mb-2" routerLink="createticket"></button>
            </div>
            <hr>
            <p-table #dt1 [value]="tickets" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['shipperName','recipientsName']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Shipper Name
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Shipper Contact
                            </div>
                        </th>
                        <th style="min-width: 14rem">
                            <div class="flex justify-content-between align-items-center">
                                Pickup Address
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Shipper Ref Number
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Origin Country
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Origin City
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Recipient Name
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Recipient Contact
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Delivery Address
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Destination Country
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Destination City
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Pickup Date
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Pickup Time
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Department
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Department Category
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Assigned To
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Category
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Created At
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Created By
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Status
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Ticket Flag
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-content-between align-items-center">
                                Actions
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            {{data?.shipperName}}
                        </td>
                        <td>
                            {{data?.shipperContactNumber}}
                        </td>
                        <td>
                            {{data?.pickupAddress}}
                        </td>
                        <td>
                            {{data?.shipperRefNumber}}
                        </td>
                        <td>
                            {{data?.originCountry}}
                        </td>
                        <td>
                            {{data?.originCity}}
                        </td>
                        <td>
                            {{ data?.recipientsName}}
                        </td>
                        <td>
                            {{ data?.recipientsContactNumber }}
                        </td>
                        <td>
                            {{ data?.deliveryAddress }}
                        </td>
                        <td>
                            {{ data?.destinationCountry }}
                        </td>
                        <td>
                            {{ data?.destinationCity }}
                        </td>
                        <td>
                            {{ data?.pickupDate}}
                        </td>
                        <td>
                            {{data?.pickupTime[0]}}:{{data?.pickupTime[1]}}:{{data?.pickupTime[2]}}
                        </td>
                        <td>
                            {{ data?.department }}
                        </td>
                        <td>
                            {{ data?.departmentCategory }}
                        </td>
                        <td>
                            {{ data?.assignedTo }}
                        </td>
                        <td>
                            {{ data?.category }}
                        </td>
                        <td>
                            {{ data?.createdAt}}
                        </td>
                        <td>
                            {{ data?.createdBy }}
                        </td>
                        <td>
                            {{ data?.status }}
                        </td>
                        <td>
                            {{ data?.ticketFlag }}
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-eye
" class="p-button-rounded p-button-secondary p-button-outlined mx-2" routerLink="{{data.id}}"></button>
                            <button pButton pRipple type="button" icon="pi pi-file-edit"
                                class="p-button-rounded p-button-outlined mx-2"
                                (click)="onEditTicket(data.id)"></button>
                            <button pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-outlined mx-2"
                                (click)="onDeleteTicket(data.id)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete selected ticket?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>