<div class="grid formgrid">
    <div class="col-12 md:col-4">
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" id="ny"></p-checkbox>
            <label for="ny">New York</label>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="field-checkbox">
            <p-checkbox name="group1" value="San Francisco" id="sf"></p-checkbox>
            <label for="sf">San Francisco</label>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="field-checkbox">
            <p-checkbox name="group1" value="Los Angeles" id="la"></p-checkbox>
            <label for="la">Los Angeles</label>
        </div>
    </div>
</div>