<div class="grid container flex justify-content-center align-items-center">
    <a class="col-6 card tracking-card mr-2" routerLink="tracking">
        <div class="">
            <img src="../../../../assets/tracking/6203322_3196533.jpg" alt="Tracking" class="tracking">
            <p class="tracking-text">Tracking</p>
        </div>
    </a>
    <a class="col-6 card scan-card ml-2" routerLink="scan">
        <div class="">
            <img src="../../../../assets/tracking/9470301_4170461.jpg" alt="Scan" class="scan">
            <p class="scan-text">Scan</p>
        </div>
    </a>

</div>
