span.tracking {
  font-weight: 500;
  font-size: 15px;
  /* margin-bottom: 1rem; */
}

.tracking-heading {
  color: #000000;
  font-size: 22px;
  margin-top: 8px;
  font-weight: 700;
}

.order {
  font-weight: 500;
  font-size: 22px;
}

.order.history {
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}

.order-heading {
  color: #93003c;
  font-size: 38px;
  margin-top: 9px;
  font-weight: bolder;
  margin-bottom: 6px;
}

p-divider::ng-deep .p-divider.p-divider-vertical {
  margin: 0px;
}

p.heading {
  font-size: 15px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 3px;
}

p.info {
  font-size: 20px;
  font-weight: 400;
  color: #616161;
}

h1.delivery-heading {
  color: white;
  font-size: 30px;
  background: black;
  padding: 6px 32px;
  margin-bottom: 0px;
}

p.order-content {
  font-size: 18px;
  font-weight: bolder;
}

p-timeline::ng-deep .p-timeline {
  margin-top: 30px;
}

p.timeline-opposite-content {
  font-size: 16px;
  font-weight: 500;
}

.timeline-content {
  font-size: 16px;
  font-weight: bolder;
}

.custom-card::ng-deep .p-card .p-card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  color: #93003c;
}

.custom-card::ng-deep .p-card .p-card-subtitle {
    font-weight: bolder;
    margin-bottom: 0.2rem;
    color: #495057;
}

.custom-card::ng-deep .p-card .p-card-body {
  text-align: center;
//   max-height: 300px;
//   min-height: 300px;
//       min-width: 347px;
//     max-width: 414px;
}

.mobile-card::ng-deep .p-card .p-card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  color: #93003c;
}

.mobile-card::ng-deep .p-card .p-card-subtitle {
    font-weight: bolder;
    margin-bottom: 0.2rem;
    color: #495057;
}

.mobile-card::ng-deep .p-card .p-card-body {
  text-align: center;
  margin-bottom: 20px;
//   max-height: 300px;
//   min-height: 300px;
//       min-width: 347px;
//     max-width: 414px;
}

.mobile-btn,.mobile-timeline{
    display: none;
}

.refresh {
  cursor: pointer;
  color: #000000;
  font-size: 17px;
  transition: all 0.5s ease;
}

.refresh:hover {
  color: #c10751;
}

@media only screen and (max-width: 991px) {

    .mobile-btn{
        display: block;
    }

    .desktop-btn{
        display: none;
    }
}

@media only screen and (max-width: 667px) {

    .mobile-timeline{
        display: block;
    }

    .desktop-timeline{
        display: none;
    }
}