<div class="grid">
    <div class="col-12">
        <div class="card flex justify-content-between align-items-center">
            <h1 class="m-0"
                style="color: #93003c; font-size: 19px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700; font-size: 24px;">
                Employee Details</h1>
            <button pButton label="Back" [routerLink]="['/employee/list']"
                routerLinkActive="router-link-active"></button>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 lg:col-8">
        <div class="card p-fluid" style="padding-bottom: 10rem;">
            <div class="grid customP">
                <div class="col-12 md:col-6">
                    <h4>Personal Infomation</h4>
                    <p><strong>Name:</strong> {{singleEmployee?.name}}</p>
                    <p *ngIf="singleEmployee?.email"><strong>Personal Email:</strong> {{singleEmployee?.email}}</p>
                    <p><strong>Nationality:</strong> {{singleEmployee?.nationality}}</p>
                    <p><strong>Mobile:</strong> {{singleEmployee?.mobile}}</p>
                    <p><strong>Address:</strong> {{singleEmployee?.address}}</p>
                    <p><strong>country:</strong> {{singleEmployee?.country}}</p>
                    <p><strong>city:</strong> {{singleEmployee?.city}}</p>
                </div>
                <div class="col-12 md:col-6">
                    <h4>Job Infomation</h4>
                    <p><strong>Employee Number:</strong> {{singleEmployee?.employeeNumber}}</p>
                    <p><strong>Email:</strong> {{singleEmployee?.personalEmail}}</p>
                    <p><strong>Department:</strong> {{singleEmployee?.department}}</p>
                    <p><strong>Date Of Joining:</strong> {{singleEmployee?.dateOfJoining}}</p>
                    <p><strong>Job Title:</strong> {{singleEmployee?.jobTitle}}</p>
                    <p><strong>Working Days:</strong> {{singleEmployee?.workingDays}}</p>
                    <p><strong>No. Of Absents:</strong> {{singleEmployee?.noOfAbsents}}</p>
                    <p><strong>Salary:</strong> {{singleEmployee?.salary}}</p>
                    <p *ngIf="singleEmployee?.position"><strong>Position:</strong> {{singleEmployee?.position}}</p>
                </div>
                <div class="col-12 md:col-6">
                    <h4>Benefits and Allowances</h4>
                    <p><strong>Hosuing:</strong> {{singleEmployee?.housing}}</p>
                    <p><strong>Transportation: </strong>{{singleEmployee?.transportation}}</p>
                    <p><strong>Other Allowance:</strong> {{singleEmployee?.otherAllowance}}</p>
                    <p><strong>Total Amount:</strong> {{singleEmployee?.totalAmount}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-4">
        <div class="card p-fluid" *ngIf="singleEmployee?.idFilePath">
            <h5 class="col-12 m-0"> <i class="pi pi-id-card mr-3"></i>
                ID <a href="{{ idImageSrc }}" download="id_image.jpg"><i class="pi pi-download"></i></a>
            </h5>
            <p-image [src]="idImageSrc" alt="Image" height="auto" [preview]="true"></p-image>
        </div>

        <div class="card p-fluid" *ngIf="singleEmployee?.passportFilePath">
            <h5 class="col-8 m-0"> <i class="pi pi-id-card mr-3"></i>
                Passport <a href="{{ passportImageSrc }}" download="passport_image.jpg"><i
                        class="pi pi-download"></i></a>
            </h5>
            <p-image [src]="passportImageSrc" alt="Image" height="auto" [preview]="true"></p-image>

        </div>

        <div class="card">
            <div class="grid">
                <h5 class="col-8 m-0"> <i class="pi pi-money-bill mr-3"></i>
                    Documents
                </h5>
            </div>
            <div class="grid p-fluid my-1">
                <div class="col-12">
                    <p-table #dt1 styleClass="customTable" [value]="employeeAttachments" dataKey="id" [rows]="5"
                        [loading]="loading" [scrollable]="true" scrollHeight="280px" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-center align-items-center">
                                        Actions
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-start align-items-center">
                                        File Name
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <button pTooltip="View" tooltipPosition="bottom" pButton pRipple type="button"
                                        icon="pi pi-eye" (click)="showImage(data.filePath)"
                                        (click)="onViewAttachment(data.filePath)"
                                        class="p-button-rounded p-button-secondary p-button-outlined mx-2"></button>
                                    <button pTooltip="Download" tooltipPosition="bottom" pButton pRipple type="button"
                                        icon="pi pi-download"
                                        class="p-button-rounded p-button-success p-button-outlined mx-1"
                                        (click)="onDownloadAttachment(data.filePath,data.id)"></button>
                                </td>
                                <td style="font-size: 14px; word-break: break-all;">
                                    {{ data?.filePath | extractFileName | slice:0:60 }}{{ data?.filePath.length > 60 ?
                                    '...' : '' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td style="text-align: start !important;" colspan="8">No Attachment found</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td style="text-align: start !important;" colspan="8">Loading Attachmetns. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>





<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<p-dialog [(visible)]="visible" (onHide)="onCloseDialog()" [style]="{ width: '50vw', height: '50vw' }"
    maximizable="true" [modal]="true">
    <div *ngIf="imageUrl" style="display: contents;">
        <img [src]="imageUrl" alt="" style="width: 100%; height: auto;">
    </div>
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" style="width: 100%; height: 100%;" frameborder="0"></iframe>
</p-dialog>
