th,
tr td {
  text-align: center !important;
}

.text-custom {
  font-size: 24px !important;
}

.title-custom {
  font-size: 20px !important;
  color: #93003c !important;
}

.custom-span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s ease;
  cursor: pointer;
}

.custom-span:hover {
  color: #93003c;
}

.custom-span i.pi.pi-angle-right {
  margin-top: 4px;
}

.view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-card {
  min-height: 164px;
}

.refresh {
  cursor: pointer;
  color: #93003c;
  font-size: 17px;
  transition: all 0.5s ease;
}

.refresh:hover {
  color: #c10751;
}

.input-table {
  width: -webkit-fill-available;
  padding: 0 20px 0 0;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.Created,.Delivered {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0 0.5rem;
  background: rgba(0, 186, 52, 0.1);
  color: rgba(0, 186, 52, 1);
  font-size: 13px;
  font-weight: 400;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.Pickup,.In-Transit {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0 0.5rem;
  background: rgba(69, 140, 246, 0.1);
  color: rgba(69, 140, 246, 1);
  font-size: 13px;
  font-weight: 400;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.Returned,.Exceptions {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0 0.5rem;
  background: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 1);
  font-size: 13px;
  font-weight: 400;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}



.card::-webkit-scrollbar {
  width: 0px;
}

.card:hover::-webkit-scrollbar {
  width: 2px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #c0c0c054;
  height: 5px;
}

.card::-webkit-scrollbar-track {
  background-color: #ffffff43;
}
