<div class="">
    <div class="card">
        <h1 class="mb-5"
            style="color: #93003c; font-size: 17.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
            {{editMode?"Update User":"Add User"}}</h1>
        <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <!-- User Details -->
                <!-- Email -->
                <!-- <div class="field col-12 md:col-6">
                    <label htmlFor="email"><strong>Email</strong></label>
                    <input pInputText id="email" type="text" formControlName="email" placeholder="Enter Email" [ngClass]="{'ng-dirty':userForm.get('email')?.touched && userForm.get('email')?.invalid}" />
                    <small *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched" class="text-red-500">
                        Required
                    </small>
                </div> -->
                <!-- Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Name</strong></label>
                    <input pInputText id="name" type="text" formControlName="name" placeholder="Enter Name"
                        [ngClass]="{'ng-dirty':userForm.get('name')?.touched && userForm.get('name')?.invalid}" />
                    <small *ngIf="!userForm.get('name')?.valid && userForm.get('name')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Password -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="address"><strong>Password</strong></label>
                    <p-password [toggleMask]="true" class="w-20rem" placeholder="Enter Password" [strongRegex]="true"
                        [ngClass]="{'ng-dirty':userForm.get('password')?.touched && userForm.get('password')?.invalid}"
                        [strongLabel]="true" formControlName="password" [feedback]="false"
                        placeholder="Enter strong password"></p-password>
                    <small *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                    <!-- <small class="pass smalltext" *ngIf="userForm.get('password')?.errors?.['pattern']">
                        <ul class="text-left text-red-500">
                            <li>At least one lowercase letter</li>
                            <li>At least one uppercase letter</li>
                            <li>At least one digit</li>
                            <li>Minimum length of 8 characters</li>
                        </ul>
                    </small> -->
                    <small class="pass smalltext" *ngIf="userForm.get('password')?.errors?.['pattern']">
                        <ul class="text-left text-red-500">
                            <li *ngIf="isLowerCaseMissing()">At least one lowercase letter</li>
                            <li *ngIf="isUpperCaseMissing()">At least one uppercase letter</li>
                            <li *ngIf="isDigitMissing()">At least one digit</li>
                            <li *ngIf="isShortPassword()">Minimum length of 8 characters</li>
                        </ul>
                    </small>
                </div>
                <!-- Phone Number -->
                <!-- <div class="field col-12 md:col-6">
                    <label htmlFor="phoneNumber"><strong>Phone Number</strong></label>
                    <input pInputText id="phoneNumber" type="text" formControlName="phoneNumber"
                        placeholder="Enter Phone Number" />
                    <small *ngIf="!userForm.get('phoneNumber')?.valid && userForm.get('phoneNumber')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div> -->
                <!-- Role -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="department"><strong>Role</strong></label>
                    <p-dropdown [options]="roles" optionLabel="name" placeholder="Select Role" formControlName="roles"
                        [ngClass]="{'ng-dirty':userForm.get('roles')?.touched && userForm.get('roles')?.invalid}"></p-dropdown>
                    <small *ngIf="!userForm.get('roles')?.valid && userForm.get('roles')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>

                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Create
                        ':'Update'}}" class="mx-3 submit-btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
