<div>
    <div class="card">
        <div class="flex justify-content-between align-items-center">
            <h1
                style="color: #93003c; font-size: 17.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
                {{editMode?"Update User":"Add User"}}</h1>
                <button pButton type="Submit" label="Autofill From Employee" (click)="autoFillData()" class="mx-3" *ngIf="!editMode"></button>
        </div>
        <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid mt-5">
                <!-- User Details -->
                <!--First Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname"><strong>First Name</strong></label>
                    <input pInputText id="firstname" type="text" formControlName="firstname"
                        placeholder="Enter First Name"
                        [ngClass]="{'ng-dirty':userForm.get('firstname')?.touched && userForm.get('firstname')?.invalid}" />
                    <small *ngIf="!userForm.get('firstname')?.valid && userForm.get('firstname')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!--Last Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname"><strong>Last Name</strong></label>
                    <input pInputText id="lastname" type="text" formControlName="lastname" placeholder="Enter Last Name"
                        [ngClass]="{'ng-dirty':userForm.get('lastname')?.touched && userForm.get('lastname')?.invalid}" />
                    <small *ngIf="!userForm.get('lastname')?.valid && userForm.get('lastname')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Email -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="email"><strong>Email</strong></label>
                    <input pInputText id="email" type="email" formControlName="email" placeholder="Enter Email"
                        [ngClass]="{'ng-dirty':userForm.get('email')?.touched && userForm.get('email')?.invalid}" />
                    <small *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Phone -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="phone"><strong>Phone Number</strong></label>
                    <input pInputText id="phone" type="text" formControlName="phone" placeholder="Enter Phone Number"/>
                </div>
                <!-- Country -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="country"><strong>Country</strong></label>
                    <p-dropdown #dropdown [options]="countries" placeholder="Select Country" formControlName="country"
                        filter="true" (onChange)="getCountry($event)"
                        [ngClass]="{'ng-dirty':userForm.get('country')?.touched && userForm.get('country')?.invalid}"></p-dropdown>
                    <small *ngIf="!userForm.get('country')?.valid && userForm.get('country')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!--City -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="City"><strong>City</strong></label>
                    <p-dropdown #dropdown1 [options]="cities" placeholder="Select city" formControlName="city"
                        filter="true"
                        [ngClass]="{'ng-dirty':userForm.get('city')?.touched && userForm.get('city')?.invalid}"></p-dropdown>
                    <small *ngIf="!userForm.get('city')?.valid && userForm.get('city')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!--Employee Id -->
                <div class="field col-12 md:col-6" *ngIf="employeeFromUser">
                    <label htmlFor="employeeId"><strong>Employee Id</strong></label>
                    <input pInputText id="employeeId" type="text" formControlName="employeeId" placeholder="Enter Employee Id"
                        [ngClass]="{'ng-dirty':userForm.get('employeeId')?.touched && userForm.get('employeeId')?.invalid}" />
                    <small *ngIf="!userForm.get('employeeId')?.valid && userForm.get('employeeId')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Password -->
                <!-- <div class="field col-12 md:col-6" *ngIf="!editMode">
                    <label htmlFor=" address"><strong>Password</strong></label>
                    <p-password [toggleMask]="true" class="w-20rem" placeholder="Enter Password" [strongRegex]="true"
                        [ngClass]="{'ng-dirty':userForm.get('password')?.touched && userForm.get('password')?.invalid}"
                        [strongLabel]="true" formControlName="password" [feedback]="false"
                        placeholder="Enter strong password"></p-password>
                    <small *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                    <small class="pass smalltext" *ngIf="userForm.get('password')?.errors?.['pattern']">
                        <ul class="text-left text-red-500">
                            <li *ngIf="isLowerCaseMissing()">At least one lowercase letter</li>
                            <li *ngIf="isUpperCaseMissing()">At least one uppercase letter</li>
                            <li *ngIf="isDigitMissing()">At least one digit</li>
                            <li *ngIf="isShortPassword()">Minimum length of 8 characters</li>
                        </ul>
                    </small>
                </div> -->
                <!-- Employee Id -->
                <!-- <div class="field col-12 md:col-6">
                    <label htmlFor="employeeId"><strong>Employee Id</strong></label>
                    <input pInputText id="employeeId" type="text" formControlName="employeeId"
                        placeholder="Enter Employee Id"
                        [ngClass]="{'ng-dirty':userForm.get('employeeId')?.touched && userForm.get('employeeId')?.invalid}" />
                    <small *ngIf="!userForm.get('employeeId')?.valid && userForm.get('employeeId')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div> -->
                <!-- Role -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="department"><strong>Role</strong></label>
                    <p-dropdown [options]="roles" optionLabel="name" placeholder="Select Role" formControlName="roles"
                        [ngClass]="{'ng-dirty':userForm.get('roles')?.touched && userForm.get('roles')?.invalid}"></p-dropdown>
                    <small *ngIf="!userForm.get('roles')?.valid && userForm.get('roles')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>

                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Create
                        ':'Update'}}" class="mx-3 submit-btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<p-dialog header="Select Employee" [(visible)]="visible"
    [modal]="true" [style]="{ width: '80vw' }" class="customDialogExcel" [draggable]="false" [resizable]="false">
    <p-table #dt1 [value]="employees" dataKey="id" [rows]="5" [loading]="loading" styleClass="p-datatable-gridlines"
        [paginator]="true"
        [globalFilterFields]="['employeeNumber']"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div class="mb-2">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                </div>

                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                        placeholder="Enter Employee Number" class="w-full" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 6rem">
                    <div class="flex justify-content-center align-items-center">
                        Actions
                    </div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        Employee Number
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        Name
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        Mobile
                    </div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        Job Title
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        Country
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-center align-items-center">
                        City
                    </div>
                </th>



            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>
                    <button pButton pRipple type="button" label="Select"
                        class="p-button-outlined mx-2" (click)="onSelectEmployee(employee?.id)"
                        appendTo="body"></button>

                </td>
                <td>
                    {{employee?.employeeNumber}}
                </td>
                <td>
                    {{employee?.name}}
                </td>
                <td>
                    {{employee?.mobile}}
                </td>
                <td>
                    {{employee?.jobTitle}}
                </td>
                <td>
                    {{employee?.country}}
                </td>
                <td>
                    {{employee?.city}}
                </td>



            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="text-align: start !important;" colspan="8">No Employee
                    found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td style="text-align: start !important;" colspan="8">Loading Employee Data. Please
                    wait.</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
