.heading-col{
    background-color: #ececec;
    text-align: center;
    margin: 10px 0;
}


.heading-col span{
font-weight: 700;
// font-size: 16px;
}

.value-col{
background-color: #ebf1f6;
margin: 10px 0;
}

.value-col span{
    // font-size: 17px;
}
