<div class="">
    <div class="card">
        <form action="" [formGroup]="ticketForm" (ngSubmit)="onSubmit(ticketForm.value)">
            <div class="p-fluid p-formgrid grid">
                <!-- Shipper Details -->
                <ng-container formGroupName="shipperDetails">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="shippername">Shipper Name</label>
                        <input pInputText id="shippername" type="text" formControlName="shipperName" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="contact">Contact Number</label>
                        <p-inputMask mask="(999) 999-9999" placeholder=""
                            formControlName="shipperContact"></p-inputMask>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="address">Pick Up Address</label>
                        <input pInputTextarea id="address" rows="4" formControlName="pickUpAddress" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="contact">Shipper Ref #</label>
                        <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                            formControlName="shipperRef"> </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="ocountry">Origin Country</label>
                        <p-dropdown [options]="countries" placeholder="Select Country" [filter]="true"
                            formControlName="originCountry"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="oCity">Origin City</label>
                        <p-dropdown [options]="cities" placeholder="Enter city" formControlName="originCity"
                            [filter]="true"></p-dropdown>
                    </div>
                </ng-container>
                <!-- Recipients Details -->
                <ng-container formGroupName="recipientDetails">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="recipientname">Recipient Name</label>
                        <input pInputText id="recipientname" type="text" formControlName="recipientName" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="contactR">Contact Number</label>
                        <p-inputMask mask="(999) 999-9999" placeholder=""
                            formControlName="recipientContact"></p-inputMask>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="daddress">Delivery Address</label>
                        <input pInputTextarea id="daddress" rows="4" formControlName="deliveryAddress" />
                    </div>

                    <div class="field col-12 md:col-3">
                        <label htmlFor="dcountry">Destination Country</label>
                        <p-dropdown [options]="countries" placeholder="Select Country" [filter]="true"
                            formControlName="destinationCountry"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="dcity">Destination City</label>
                        <p-dropdown [filter]="true" [options]="cities" placeholder="Select city"
                            formControlName="destinationCity"></p-dropdown>
                    </div>
                </ng-container>
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity">Pick Up Date and Time</label>
                    <p-calendar
                        [ngClass]="{'ng-dirty':ticketForm.get('pickupDateTime')?.touched && ticketForm.get('pickupDateTime')?.invalid}"
                        [showIcon]="true" [showTime]="true" formControlName="pickupDateTime"></p-calendar>
                    <small *ngIf="!ticketForm.get('pickupDateTime')?.valid && ticketForm.get('pickupDateTime')?.touched"
                        class="text-red-500">
                        This field is mandatory
                    </small>
                </div>
                <ng-container formGroupName="shipmentDetails">
                    <div class="field col-12 md:col-3">
                        <label htmlFor="producttype">Product Type</label>
                        <p-dropdown [filter]="true" [options]="productType" placeholder="Enter city"
                            formControlName="productType"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="servicetype">Service Type</label>
                        <p-dropdown [filter]="true" [options]="serviceType" placeholder="Enter city"
                            formControlName="serviceType"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="pieces">Pieces</label>
                        <input pInputText id="pieces" type="number" formControlName="pieces" />
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="weight">Weight</label>
                        <input pInputText id="weight" type="text" formControlName="weight" />
                    </div>
                    <div class="field col-12 md:col-12">
                        <label htmlFor="content">Content</label>
                        <input pInputText id="content" type="text" formControlName="content" />
                    </div>
                    <ng-container formGroupName="amountCurrency">
                        <div class="field col-12 md:col-3">
                            <label htmlFor="currency">Currency</label>
                            <p-dropdown [options]="currencies" class="w-4" formControlName="currency"
                                placeholder="Select a currency"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="amount">Amount</label>
                            <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                                placeholder="Enter Amount" formControlName="amount">
                            </p-inputNumber>
                        </div>
                    </ng-container>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="dutytaxes">Duty & Taxes Billing To</label>
                        <p-dropdown [options]="dutyTaxes" placeholder="Select Billing to"
                            formControlName="dutyTaxBillingTo"></p-dropdown>
                    </div>

                </ng-container>

                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Add Ticket
                        ':'Update'}}" class="mx-3 submit-btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>