<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 class="m-0"
                style="color: #93003c; font-size: 23px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
                All Invoices</h1>
            <div class="flex justify-content-end addBtn">
                <button pButton (click)="visible = true" label="Upload File" class="mb-2"></button>
            </div>
            <hr>
            <p-table #dt1 [value]="invoices" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true"
                [globalFilterFields]="['invoiceNo','customerAccountNumber','airwayBillNo']" styleClass="p-datatable-gridlines" [paginator]="true"
                [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="mb-2">
                            <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button> -->
                            <button pButton label="Excel Format" class="p-button-outlined" icon="pi pi-download"
                                (click)="getExcelFormatSheet()"></button>
                            <button pButton label="Statement" class="p-button-outlined ml-3 " icon="pi pi-download"
                                (click)="getBillingStatement()"></button>
                            <p-dropdown class="ml-3 custom-dropdown" [options]="status" [(ngModel)]="selectedStatus"
                                (ngModelChange)="onStatusChange($event)" placeholder="Select"></p-dropdown>
                            <!-- <button pButton label="Excel" class="p-button-outlined ml-3" icon="pi pi-download"
                                (click)="visible = true"></button> -->
                            <i class="refresh ml-3 pi pi-sync" (click)="onRefresh()" [ngClass]="{'pi-spin': refresh }"
                                style="font-weight: bold;"></i>
                        </div>

                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Enter Invoice Number" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 18rem">
                            <div class="flex justify-content-center align-items-center">
                                Actions
                            </div>
                        </th>
                        <th style="min-width: 16rem">
                            <div class="flex justify-content-center align-items-center">
                                Invoice No
                            </div>
                        </th>
                        <th style="min-width: 16rem">
                            <div class="flex justify-content-center align-items-center">
                                Invoice Date
                            </div>
                        </th>
                        <th style="min-width: 16rem">
                            <div class="flex justify-content-center align-items-center">
                                Tax No
                            </div>
                        </th>
                        <th style="min-width: 13rem">
                            <div class="flex justify-content-center align-items-center">
                                Airway Bill No
                            </div>
                        </th>
                        <th style="min-width: 13rem">
                            <div class="flex justify-content-center align-items-center">
                                Account No
                            </div>
                        </th>
                        <th style="min-width: 13rem">
                            <div class="flex justify-content-center align-items-center">
                                Customer Ref#
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Service Details
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Charges
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <button pTooltip="View" tooltipPosition="bottom" *ngIf="activeStatus" pButton pRipple
                                type="button" icon="pi pi-eye
                        " class="p-button-rounded p-button-secondary p-button-outlined mx-2"
                                routerLink="{{data.id}}"></button>
                            <!-- <button pTooltip="Edit" tooltipPosition="bottom"
                                *ngIf="activeStatus && this.sessionStorageService.hasPermission('CREATE_EMPLOYEE')"
                                pButton pRipple type="button" icon="pi pi-file-edit"
                                class="p-button-rounded p-button-outlined mx-2"
                                (click)="onEditEmployee(data.id)"></button> -->
                            <button pTooltip="Deactivate" tooltipPosition="bottom"
                                *ngIf="activeStatus && this.sessionStorageService.hasPermission('READ_BILLING')" pButton
                                pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-outlined mx-2"
                                (click)="onDeleteEmployee(data.id)"></button>
                            <button pTooltip="Activate" tooltipPosition="bottom" *ngIf="!activeStatus"
                                [disabled]="!this.sessionStorageService.hasPermission('READ_EMPLOYEE')" pButton pRipple
                                type="button" icon="pi pi-check"
                                class="p-button-rounded p-button-success p-button-outlined mx-2"
                                (click)="onActiveEmployee(data.id)"></button>
                            <!-- <button pTooltip="Download Invoice" tooltipPosition="bottom" *ngIf="activeStatus" pButton
                                pRipple type="button" icon="pi pi-download"
                                class="p-button-rounded p-button-success p-button-outlined mx-1"
                                (click)="onDownlaodBill()"></button> -->
                            <button pTooltip="Resend Invoice" tooltipPosition="bottom" *ngIf="activeStatus" pButton
                                pRipple type="button" icon="pi pi-send"
                                class="p-button-rounded p-button-primary p-button-outlined mx-1"
                                (click)="onResendInvoice(data?.id)"></button>
                        </td>
                        <td>
                            {{data?.invoiceNo}}
                        </td>
                        <td>
                            {{data?.invoiceDate}}
                        </td>
                        <td>
                            {{data?.taxNo}}
                        </td>
                        <td>
                            {{data?.airwayBillNo}}
                        </td>
                        <td>
                            {{data?.customerAccountNumber}}
                        </td>
                        <td>
                            {{data?.customerRef}}
                        </td>
                        <td>
                            {{data?.serviceDetails}}
                        </td>
                        <td>
                            {{data?.charges}}
                        </td>
                        <td>
                            {{data?.billingStatus}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td style="text-align: start !important;" colspan="8">{{activeStatus?'No Invoice found.':'No
                            Inactive invoice found.'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td style="text-align: start !important;" colspan="8">Loading Invoice data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="size"
                [totalRecords]="totalRecords"></p-paginator> -->
        </div>

    </div>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to deactivate selected invoice?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visible" [modal]="true" (onHide)="onCloseDialog()" [style]="{ width: '70vw' }"
        class="customDialogExcel" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <div style="display: flex; justify-content: space-between; align-items: center; padding: 5px 16px;">
                <i class="pi pi-cloud-upload mr-3 custom-icon-upload" style="font-size: 2rem"></i>
                <div class="header-content pl-3">
                    <h4 class="m-0">Upload file (.xlsx)</h4>
                    <p>Select and upload the file of your choice</p>
                </div>
            </div>
        </ng-template>
        <p-divider />
        <div class="p-2">
            <div class="text-center upload-body">
                <i class="pi pi-cloud-upload"></i>
                <h5>Choose a file or drag & drop it here</h5>
                <p>Only XLSX formats are allowed, up to 1MB</p>
                <label class="fileInput">
                    <p class="fileUploadStyle">{{uploadedSheet ? 'Change File' : 'Browse File'}}</p>
                    <input type="file" (change)="onFileSelected($event)" accept=".xlsx">
                </label>
                <a class="fileUploadStyle ml-2" *ngIf="uploadedSheet" (click)="uploadSheet()">Upload File</a>
            </div>
            <div class="upload-file-container flex justify-content-between align-items-center mt-3"
                *ngIf="uploadedSheet">
                <div class="flex justify-content-start align-items-center">
                    <img src="../../../../assets/images/imagexlsx.png" alt="xlsx File" width="50px" height="auto"
                        [draggable]="false" style="border-radius: 8px;">
                    <div>
                        <p class="m-0 p1">{{fileName}}</p>
                        <p class="m-0 p2">{{uploadedSheet?.lastModifiedDate | date:'MMMM d, y'}}</p>
                    </div>
                </div>
                <div>
                    <i class="pi pi-eye mx-2 uploaded-sheet-icon" (click)="viewExcelFile()"></i>
                    <i class="pi pi-times uploaded-sheet-icon" (click)="clearFileInput()"></i>
                </div>
            </div>
        </div>
    </p-dialog>


    <p-dialog [(visible)]="excelViewDialog" [style]="{ width: '100vw', height: '100vh' }" maximizable="true"
        [modal]="true">
        <app-invoice-excel-data [excelData]="excelData" [tableHeaders]="tableHeaders"></app-invoice-excel-data>
    </p-dialog>



    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
