<div class="flex h-screen">
    <div class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat"
        style="background-image: url('../../../../assets/images/Repair-Return-Shipments-Management-1536x1024.jpg');">
    </div>
    <div class="flex flex-column align-items-center justify-content-center w-full lg:w-4 h-full text-center py-3 px-4">
        <a class="mb-6"> <img src="../../../../assets/logo/Logo-4-1.png" alt="" width="160px"></a>
        <div class="mb-4">
            <div class="text-900 text-xl font-bold mb-2">Reset Password</div><span class="text-600 font-medium">Enter
                your new password</span>
        </div>
        <div class="flex flex-column">
            <form [formGroup]="newPasswordForm" (ngSubmit)="onResetPassword(newPasswordForm.value)"
                class="flex flex-column justify-content-center align-content-center gap-4">
                <!-- Password -->
                <div class="w-20rem">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-key z-5"></i>
                        <p-password [toggleMask]="true" class="w-20rem"
                            [inputStyle]="{'width':'20rem','padding-left':'35px'}"
                            [ngClass]="{'ng-dirty':newPasswordForm.get('password')?.invalid && newPasswordForm.get('password')?.touched}"
                            placeholder="Password" [strongRegex]="true" [strongLabel]="true" formControlName="password"
                            [feedback]="false">
                        </p-password>
                    </span>
                    <div class="text-left">
                        <small class="alig"
                            *ngIf="!newPasswordForm.get('password')?.valid && newPasswordForm.get('password')?.touched"
                            class="text-red-500">
                            Required
                        </small>
                    </div>
                </div>
                <!--New Password -->
                <div class="w-20rem">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-key z-5"></i>
                        <p-password [toggleMask]="true" class="w-20rem"
                            [inputStyle]="{'width':'20rem','padding-left':'35px'}"
                            [ngClass]="{'ng-dirty':newPasswordForm?.invalid && newPasswordForm.get('confirmPassword')?.touched}"
                            placeholder="Confirm Password" [strongRegex]="true" [strongLabel]="true"
                            formControlName="confirmPassword" [feedback]="false">
                        </p-password>
                    </span>
                    <div class="text-left">
                        <small class="alig"
                            *ngIf="!newPasswordForm.get('confirmPassword')?.valid && newPasswordForm.get('confirmPassword')?.touched"
                            class="text-red-500">
                            Required
                        </small>
                    </div>
                    <div class="text-left">
                        <small class="alig"
                            *ngIf="newPasswordForm.errors?.['passwordMatchError'] && newPasswordForm.get('confirmPassword')?.touched"
                            class="text-red-500">
                            Confirm Password and password not matched
                        </small>
                    </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-content-between">
                    <!-- <button type="button" label="Cancel" (click)="onCancel()"
                        class="p-element flex-auto p-button-outlined p-button p-component" tabindex="0"><span
                            class="p-button-label">Cancel</span></button> -->
                    <button type="submit" label="Reset Password"
                        class="p-element w-20rem flex-auto p-button p-component" tabindex="0"><span
                            class="p-button-label">Reset Password</span></button>
                </div>
                <div>
                    <p>or <a class="text-primary hover:underline cursor-pointer font-medium" (click)="onCancel()">Log
                            in</a></p>
                </div>
            </form>
        </div>
    </div>

</div>


<p-toast></p-toast>