<div class="">
    <div class="card">
        <h1 class="mb-5"
            style="color: #93003c; font-size: 17.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
            {{editMode?"Update Employee":"Add Employee"}}</h1>
        <form action="" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <!-- Employees Details -->
                <!-- Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Name</strong></label>
                    <input pInputText id="firstname" type="text" formControlName="firstname"
                        [ngClass]="{'ng-dirty':employeeForm.get('firstname')?.touched && employeeForm.get('firstname')?.invalid}"
                        placeholder="Enter Name" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('firstname')?.valid && employeeForm.get('firstname')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Surname -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="surname"><strong>Surname</strong></label>
                    <input pInputText id="surname" type="text" formControlName="surname"
                        [ngClass]="{'ng-dirty':employeeForm.get('surname')?.touched && employeeForm.get('surname')?.invalid}"
                        placeholder="Enter Surname" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('surname')?.valid && employeeForm.get('surname')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Address -->
                <div class="field col-12">
                    <label htmlFor="address"><strong>Address</strong></label>
                    <input pInputText id="address" type="text" formControlName="address"
                        [ngClass]="{'ng-dirty':employeeForm.get('address')?.touched && employeeForm.get('address')?.invalid}"
                        placeholder="Enter Address" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('address')?.valid && employeeForm.get('address')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Mobile Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="mobile"><strong>Mobile Number</strong></label>
                    <input pInputText id="mobile" type="number" formControlName="mobile"
                        [ngClass]="{'ng-dirty':employeeForm.get('mobile')?.touched && employeeForm.get('mobile')?.invalid}"
                        placeholder="Enter Mobile Number" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('mobile')?.valid && employeeForm.get('mobile')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Country -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="ocountry"><strong>Country</strong></label>
                    <p-dropdown #dropdown1 [options]="countries" placeholder="Select Country" formControlName="country"
                        [ngClass]="{'ng-dirty':employeeForm.get('country')?.touched && employeeForm.get('country')?.invalid}" filter="true" (onChange)="getCountry($event.value)"></p-dropdown>
                        <small *ngIf="!employeeForm.get('country')?.valid && employeeForm.get('country')?.touched && editMode == false"
                            class="text-red-500">
                            Required
                        </small>
                </div>
                <!-- City -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="oCity"><strong>City</strong></label>
                    <p-dropdown #dropdown2 [options]="originCities" placeholder="Select city" formControlName="city"
                        [ngClass]="{'ng-dirty':employeeForm.get('city')?.touched && employeeForm.get('city')?.invalid}" filter="true"></p-dropdown>
                        <small *ngIf="!employeeForm.get('city')?.valid && employeeForm.get('city')?.touched && editMode == false"
                            class="text-red-500">
                            Required
                        </small>
                </div>

                <!-- Nationality -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="ocountry"><strong>Nationality</strong></label>
                    <p-dropdown #dropdown3 [options]="countries" placeholder="Select Nationality" formControlName="nationality"
                        [ngClass]="{'ng-dirty':employeeForm.get('nationality')?.touched && employeeForm.get('nationality')?.invalid}"
                        filter="true"></p-dropdown>
                    <small *ngIf="!employeeForm.get('nationality')?.valid && employeeForm.get('nationality')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Job Title -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="nationality"><strong>Job Title</strong></label>
                    <input pInputText id="jobTitle" type="text" formControlName="jobTitle"
                        [ngClass]="{'ng-dirty':employeeForm.get('jobTitle')?.touched && employeeForm.get('jobTitle')?.invalid}"
                        placeholder="Enter Job Title" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('jobTitle')?.valid && employeeForm.get('jobTitle')?.touched && editMode == false"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Department -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="department"><strong>Department</strong></label>
                    <p-dropdown [options]="department" placeholder="Enter department" formControlName="department"
                        [ngClass]="{'ng-dirty':employeeForm.get('department')?.touched && employeeForm.get('department')?.invalid}"></p-dropdown>
                    <small *ngIf="!employeeForm.get('department')?.valid && employeeForm.get('department')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Date of Joining -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity"><strong>Date of Joining</strong></label>
                    <p-calendar dateFormat="yy-mm-dd" [showIcon]="true" formControlName="dateOfJoining"
                        [ngClass]="{'ng-dirty':employeeForm.get('dateOfJoining')?.touched && !employeeForm.get('dateOfJoining')?.valid}"></p-calendar>
                    <small *ngIf="!employeeForm.get('dateOfJoining')?.valid && employeeForm.get('dateOfJoining')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Working Days -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="workingDays"><strong>Working Days</strong></label>
                    <input pInputText id="housing" type="number" formControlName="workingDays"
                        [ngClass]="{'ng-dirty':employeeForm.get('workingDays')?.touched && employeeForm.get('workingDays')?.invalid}"
                        placeholder="Enter Working Days" [required]="true" />
                    <small *ngIf="!employeeForm.get('workingDays')?.valid && employeeForm.get('workingDays')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- No. of Absents -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="housing"><strong>No. of Absents</strong></label>
                    <input pInputText id="housing" type="number" formControlName="noOfAbsents"
                        [ngClass]="{'ng-dirty':employeeForm.get('noOfAbsents')?.touched && employeeForm.get('noOfAbsents')?.invalid}"
                        placeholder="Enter Absents" [required]="true" />
                    <small *ngIf="!employeeForm.get('noOfAbsents')?.valid && employeeForm.get('noOfAbsents')?.touched" class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Housing -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="housing"><strong>Housing</strong></label>
                    <input pInputText id="housing" type="number" formControlName="housing"
                        [ngClass]="{'ng-dirty':employeeForm.get('housing')?.touched && employeeForm.get('housing')?.invalid}"
                        placeholder="Enter Housing" [required]="true" />
                    <small *ngIf="!employeeForm.get('housing')?.valid && employeeForm.get('housing')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Salary -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="salary"><strong>Salary</strong></label>
                    <input pInputText id="salary" type="number" formControlName="salary"
                        [ngClass]="{'ng-dirty':employeeForm.get('salary')?.touched && employeeForm.get('salary')?.invalid}"
                        placeholder="Enter Salary" [required]="true" />
                    <small *ngIf="!employeeForm.get('salary')?.valid && employeeForm.get('salary')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Transportation -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="transportation"><strong>Transportation</strong></label>
                    <input pInputText id="transportation" type="number" formControlName="transportation"
                        [ngClass]="{'ng-dirty':employeeForm.get('transportation')?.touched && employeeForm.get('transportation')?.invalid}"
                        placeholder="Enter Transportation" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('transportation')?.valid && employeeForm.get('transportation')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Other Allowance -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="otherAllowance"><strong>Other Allowance</strong></label>
                    <input pInputText id="otherAllowance" type="number" formControlName="otherAllowance"
                        [ngClass]="{'ng-dirty':employeeForm.get('otherAllowance')?.touched && employeeForm.get('otherAllowance')?.invalid}"
                        placeholder="Other Allowance" [required]="true" />
                    <small
                        *ngIf="!employeeForm.get('otherAllowance')?.valid && employeeForm.get('otherAllowance')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Passport -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="agreement"><strong>Passport Copy</strong></label>

                    <!-- Hidden input for file upload -->
                    <input #passportFile class="file-upload" id="passport" (change)="onUploadPassport($event)"
                        type="file" accept=".pdf, image/*" />
                </div>
                <!-- ID -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="agreement"><strong>ID Copy</strong></label>

                    <!-- Hidden input for file upload -->
                    <input #idFile class="file-upload" id="idCopy" (change)="onUploadId($event)" type="file"
                        accept=".pdf, image/*" />
                </div>

                <!-- Attachment -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="attachment"><strong>Other Docs</strong></label>

                    <!-- Hidden input for file upload -->
                    <input #fileInput id="attachment" type="file" (change)="onFileChange($event)" multiple
                        [ngClass]="{'inputBorder':otherDocs.length > 0}" />
                    <div class="files p-2" *ngIf="otherDocs.length > 0">
                        <div class="p-fluid grid justify-content-center align-content-center attachmentName"
                            *ngFor="let item of otherDocs; let i = index">
                            <p class="col-1" style="font-size: 15px; font-weight: bold;">{{i + 1 }}</p>
                            <div class="col-9" style="white-space: pre-wrap;">
                                <p style="word-break: break-all;">{{item.name}}</p>
                            </div>
                            <div class="col-2">
                                <button pTooltip="Remove" tooltipPosition="bottom" pButton pRipple type="button"
                                    icon="pi pi-times" (click)="removeFile(i)"
                                    class="p-button-rounded p-button-danger p-button-outlined mx-2"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Is Seating Plan Needed? -->
                <div class="field col-12 md:col-6" *ngIf="editMode == false">
                    <div class="flex justify-content-between align-items-center">
                        <label htmlFor="createdAsUser"><strong>Would you like to create it as User?</strong></label>
                        <div class="flex" style="margin-top: 10px;">
                            <div class="field-radiobutton mr-4">
                                <p-radioButton name="createdAsUser" [value]="true" formControlName="createdAsUser" (onClick)="toggleValidators(true)"></p-radioButton>
                                <label for="Yes">Yes</label>
                            </div>
                            <div class="field-radiobutton">
                                <p-radioButton name="createdAsUser" [value]="null" formControlName="createdAsUser" (onClick)="toggleValidators(false)"></p-radioButton>
                                <label for="No">No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="field col-12 md:col-6" *ngIf="employeeForm.get('createdAsUser')?.value == true && editMode == false">
                    <label htmlFor="email"><strong>Email</strong></label>
                    <input pInputText id="email" type="email" formControlName="email"
                        [ngClass]="{'ng-dirty':employeeForm.get('email')?.touched && employeeForm.get('email')?.invalid && employeeForm.get('createdAsUser')?.value == true}"
                        placeholder="Enter Email" />
                    <small *ngIf="!employeeForm.get('email')?.valid && employeeForm.get('email')?.touched && editMode == false && employeeForm.get('createdAsUser')?.value == true"
                        class="text-red-500">
                        Required
                    </small>
                </div>

                <!-- Position -->
                <div class="field col-12 md:col-6" *ngIf="employeeForm.get('createdAsUser')?.value == true && editMode == false">
                    <label htmlFor="position"><strong>Position</strong></label>
                    <p-dropdown [options]="assignedTo" placeholder="Select Position" formControlName="position"
                        [ngClass]="{'ng-dirty':employeeForm.get('position')?.touched && employeeForm.get('position')?.invalid && employeeForm.get('createdAsUser')?.value == true}"
                        ></p-dropdown>
                    <small *ngIf="!employeeForm.get('position')?.valid && employeeForm.get('position')?.touched && editMode == false && employeeForm.get('createdAsUser')?.value == true"
                        class="text-red-500">
                        Required
                    </small>
                </div>



                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton type="Submit" label="{{!editMode?'Create
                        ':'Update'}}" class="mx-3 submit-btn "></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
