<div class="grid">
    <div class="col-12">
        <div class="card flex justify-content-between align-items-center">
            <h1 class="m-0"
                style="color: #93003c; font-size: 19px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700; font-size: 24px;">
                Ticket Details</h1>
            <button *ngIf="this.sessionStorageService.hasPermission('CREATE_AWB')" pButton label="Create AWB"
                (click)="createAwb()"></button>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 lg:col-8">
        <div class="card p-fluid" style="padding-bottom: 10rem;">
            <div class="grid customP" *ngIf="singleTicket?.ticketType == 'Pickup Request'">
                <div class="col-12 md:col-6 mb-2">
                    <h4>Shipper Infomation</h4>
                    <p><strong>Shipper Name:</strong> {{singleTicket?.shipperName}}</p>
                    <p><strong>Shipper Contact Number:</strong> {{singleTicket?.shipperContactNumber}}</p>
                    <p><strong>Pickup Address:</strong> {{singleTicket?.pickupAddress}}</p>
                    <p><strong>Street Name:</strong> {{singleTicket?.pickupStreetName}}</p>
                    <p><strong>District:</strong> {{singleTicket?.pickupDistrict}}</p>
                    <p><strong>Shipper Ref Number: </strong>{{singleTicket?.shipperRefNumber}}</p>
                    <p><strong>Origin Country:</strong> {{singleTicket?.originCountry}}</p>
                    <p><strong>Origin City:</strong> {{singleTicket?.originCity}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Recipient Infomation</h4>
                    <p><strong>Recipient Name:</strong> {{singleTicket?.recipientName}}</p>
                    <p><strong>Recipient Contact Number:</strong> {{singleTicket?.recipientContactNumber}}</p>
                    <p><strong>Delivery Address:</strong> {{singleTicket?.deliveryAddress}}</p>
                    <p><strong>Street Name:</strong> {{singleTicket?.deliveryStreetName}}</p>
                    <p><strong>District:</strong> {{singleTicket?.deliveryDistrict}}</p>
                    <p><strong>Destination Country:</strong> {{singleTicket?.destinationCountry}}</p>
                    <p><strong>Destination City:</strong> {{singleTicket?.destinationCity}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>General Information</h4>
                    <p><strong>Name:</strong> {{singleTicket?.name}}</p>
                    <p><strong>Email:</strong> {{singleTicket?.email}}</p>
                    <p><strong>Phone:</strong> {{singleTicket?.phone}}</p>
                    <p style="word-break: break-all;"><strong>Details:</strong> {{singleTicket?.textarea}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Information</h4>
                    <p><strong>Ticket Type:</strong> {{singleTicket?.ticketType}}</p>
                    <p><strong>Category:</strong> {{singleTicket?.category}}</p>
                    <p><strong>Created At:</strong> {{singleTicket?.createdAt}}</p>
                    <p><strong>Created By:</strong> {{singleTicket?.createdBy}}</p>
                </div>

                <div class="col-12 md:col-6 mb-2">
                    <h4>Department Information</h4>
                    <p><strong>Department:</strong> {{singleTicket?.department}}</p>
                    <p><strong>Department Category:</strong> {{singleTicket?.departmentCategory}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Schedule Information</h4>
                    <p><strong>Pickup Date:</strong> {{singleTicket?.pickupDate}}</p>
                    <p><strong>Pickup Time: </strong> {{singleTicket?.pickupTime}}</p>
                </div>

                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Status</h4>
                    <p><strong>Status:</strong> {{singleTicket?.ticketStatus}}</p>
                    <p><strong>Flag:</strong> {{singleTicket?.ticketFlag}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Assignment Details</h4>
                    <p><strong>Assigned To:</strong> {{singleTicket?.assignedTo}}</p>
                </div>
            </div>
            <div class="grid customP" *ngIf="singleTicket?.ticketType == 'Shipment Inquiry'">
                <div class="col-12 md:col-6 mb-2">
                    <h4>General Information</h4>
                    <p><strong>Name:</strong> {{singleTicket?.name}}</p>
                    <p><strong>Email:</strong> {{singleTicket?.email}}</p>
                    <p><strong>Phone:</strong> {{singleTicket?.phone}}</p>
                    <p style="word-break: break-all;"><strong>Details:</strong> {{singleTicket?.textarea}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Information</h4>
                    <p><strong>Ticket Type:</strong> {{singleTicket?.ticketType}}</p>
                    <p><strong>Category:</strong> {{singleTicket?.category}}</p>
                    <p><strong>Created At:</strong> {{singleTicket?.createdAt}}</p>
                    <p><strong>Created By:</strong> {{singleTicket?.createdBy}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Department Information</h4>
                    <p><strong>Department:</strong> {{singleTicket?.department}}</p>
                    <p><strong>Department Category:</strong> {{singleTicket?.departmentCategory}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Status</h4>
                    <p><strong>Status:</strong> {{singleTicket?.ticketStatus}}</p>
                    <p><strong>Flag:</strong> {{singleTicket?.ticketFlag}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Inquiry Details</h4>
                    <p><strong>Airway or Reference Number:</strong> {{singleTicket?.airwayNumber}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Assignment Details</h4>
                    <p><strong>Assigned To:</strong> {{singleTicket?.assignedTo}}</p>
                </div>
            </div>
            <div class="grid customP" *ngIf="singleTicket?.ticketType == 'Rate Inquiry'">
                <div class="col-12 md:col-6 mb-2">
                    <h4>General Information</h4>
                    <p><strong>Name:</strong> {{singleTicket?.name}}</p>
                    <p><strong>Email:</strong> {{singleTicket?.email}}</p>
                    <p><strong>Phone:</strong> {{singleTicket?.phone}}</p>
                    <p style="word-break: break-all;"><strong>Details:</strong> {{singleTicket?.textarea}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Information</h4>
                    <p><strong>Ticket Type:</strong> {{singleTicket?.ticketType}}</p>
                    <p><strong>Category:</strong> {{singleTicket?.category}}</p>
                    <p><strong>Created At:</strong> {{singleTicket?.createdAt}}</p>
                    <p><strong>Created By:</strong> {{singleTicket?.createdBy}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Inquiry Details</h4>
                    <p><strong>Origin Country:</strong> {{singleTicket?.originCountry}}</p>
                    <p><strong>Origin City:</strong> {{singleTicket?.originCity}}</p>
                    <p><strong>Destination Country:</strong> {{singleTicket?.destinationCountry}}</p>
                    <p><strong>Destination City:</strong> {{singleTicket?.destinationCity}}</p>
                    <p><strong>Weight:</strong> {{singleTicket?.weight}}</p>
                </div>

                <div class="col-12 md:col-6 mb-2">
                    <h4>Department Information</h4>
                    <p><strong>Department:</strong> {{singleTicket?.department}}</p>
                    <p><strong>Department Category:</strong> {{singleTicket?.departmentCategory}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Status</h4>
                    <p><strong>Status:</strong> {{singleTicket?.ticketStatus}}</p>
                    <p><strong>Flag:</strong> {{singleTicket?.ticketFlag}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Assignment Details</h4>
                    <p><strong>Assigned To:</strong> {{singleTicket?.assignedTo}}</p>
                </div>
            </div>
            <div class="grid customP"
                *ngIf="singleTicket?.ticketType == 'Pre Sales Request' || singleTicket?.ticketType == 'Account Opening Request' || singleTicket?.ticketType == 'Exclusive Partnership Program'">
                <div class="col-12 md:col-6 mb-2">
                    <h4>General Information</h4>
                    <p><strong>Name:</strong> {{singleTicket?.name}}</p>
                    <p><strong>Email:</strong> {{singleTicket?.email}}</p>
                    <p><strong>Phone:</strong> {{singleTicket?.phone}}</p>
                    <p style="word-break: break-all;"><strong>Details:</strong> {{singleTicket?.textarea}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Information</h4>
                    <p><strong>Ticket Type:</strong> {{singleTicket?.ticketType}}</p>
                    <p><strong>Category:</strong> {{singleTicket?.category}}</p>
                    <p><strong>Created At:</strong> {{singleTicket?.createdAt}}</p>
                    <p><strong>Created By:</strong> {{singleTicket?.createdBy}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Department Information</h4>
                    <p><strong>Department:</strong> {{singleTicket?.department}}</p>
                    <p><strong>Department Category:</strong> {{singleTicket?.departmentCategory}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Ticket Status</h4>
                    <p><strong>Status:</strong> {{singleTicket?.ticketStatus}}</p>
                    <p><strong>Flag:</strong> {{singleTicket?.ticketFlag}}</p>
                </div>
                <div class="col-12 md:col-6 mb-2">
                    <h4>Assignment Details</h4>
                    <p><strong>Assigned To:</strong> {{singleTicket?.assignedTo}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-4">
        <div class="card p-fluid">
            <div class="grid">
                <h5 class="col-8 m-0">
                    <i class="pi pi-check-circle mr-3"></i>
                    Status
                </h5>
            </div>
            <div class="grid p-fluid mb-5 mt-2">
                <button class="uppercase customBtn" [label]="singleTicket?.ticketStatus" [ngClass]="getStatusClass()"
                    pButton></button>
            </div>
            <div class="grid">
                <p class="col-12 py-1 mb-0"><span>Created:</span> {{singleTicket?.createdAt | daysAgo}}</p>
                <p class="col-12 py-1 mb-0"><span>Type:</span> {{singleTicket?.ticketType}}</p>
                <p class="col-12 py-1 mb-0"><span>Department:</span> {{singleTicket?.department}}</p>
                <p class="col-12 py-1 mb-0"><span>Ticket Id:</span> {{singleTicket?.id}}</p>
            </div>
        </div>

        <div class="card">
            <div class="grid">
                <h5 class="col-8 m-0"> <i class="pi pi-money-bill mr-3"></i>
                    Priority
                </h5>
                <p (click)="updateTicket(singleTicket?.id)" class="col-4 headingP text-right inline-flex">Change</p>
            </div>
            <div class="grid p-fluid my-2">
                <button class="uppercase customBtn" [ngClass]="getPriorityClass()" [label]="singleTicket?.ticketFlag"
                    pButton></button>
            </div>
        </div>

        <div class="card">
            <div class="grid">
                <h5 class="col-8 m-0"> <i class="pi pi-money-bill mr-3"></i>
                    Attachments
                </h5>
            </div>
            <div class="grid p-fluid my-1">
                <div class="col-12">
                    <p-table #dt1 styleClass="customTable" [value]="ticketAttachments" dataKey="id" [rows]="5"
                        [loading]="loading" [scrollable]="true" scrollHeight="280px" [rowHover]="true"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-center align-items-center">
                                        Actions
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-start align-items-center">
                                        File Name
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <button pTooltip="View" tooltipPosition="bottom" pButton pRipple type="button"
                                        icon="pi pi-eye" (click)="showImage(data.filePath)"
                                        (click)="onViewAttachment(data.filePath)"
                                        class="p-button-rounded p-button-secondary p-button-outlined mx-2"></button>
                                    <button pTooltip="Download" tooltipPosition="bottom" pButton pRipple type="button"
                                        icon="pi pi-download"
                                        class="p-button-rounded p-button-success p-button-outlined mx-1"
                                        (click)="onDownloadAttachment(data.filePath,data.id)"></button>
                                </td>
                                <td style="font-size: 14px; word-break: break-all;">
                                    {{ data?.filePath | extractFileName | slice:0:60 }}{{ data?.filePath.length > 60 ?
                                    '...' : '' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td style="text-align: start !important;" colspan="8">No Attachment found</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td style="text-align: start !important;" colspan="8">Loading Attachmetns. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="flex align-items-center justify-content-between mb-4 font-bold">
                <div>
                    <span class="text-xl text-900 mr-4">Comments</span><span
                        class="inline-flex align-items-center justify-content-center w-2rem h-2rem border-1 surface-border border-round">{{commentCount}}</span>
                </div>
                <div>
                    <i class="refresh ml-3 pi pi-sync" (click)="onRefresh()" [ngClass]="{'pi-spin': refresh }"
                        style="font-weight: bold;"></i>
                </div>
            </div>
            <div class="card p-fluid comments-box" *ngIf="commentCount > 0">
                <ul class="list-none p-0 m-0">
                    <ng-container *ngFor="let comment of ticketComments; let index = i">
                        <li class="grid p-3 mb-5 border-1 surface-border border-round ng-star-inserted custom-li"
                            *ngIf="comment?.comment">
                            <div class="col-12 " style="background-color: #eff3f8; border-radius: 10px;">
                                <div class="flex">
                                    <p-avatar shape="circle" [label]="comment?.name | singleCharacter"
                                        styleClass="w-3rem h-3rem mr-3 flex-shrink-0 customA" size="xlarge"></p-avatar>
                                    <div class="w-100 timeStamp">
                                        <p class="font-semibold mb-0 text-xl text-900">{{comment?.name | titlecase}}
                                        </p>
                                        <p class="font-semibold text-600 text-sm mb-0">{{comment?.timestamp}}
                                            <i class="pi pi-file-edit font-semibold text-600 mb-0"
                                                (click)="onEdit(comment.id)"></i>
                                            <i class="pi pi-trash font-semibold text-600 mb-0"
                                                (click)="onDelete(comment.id)"></i>
                                        </p>
                                    </div>
                                </div>

                                <p class="line-height-3 mb-0 mb-3" style="margin-left: 4rem;">{{comment?.comment}}
                                </p>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>

        <div class="card">
            <form [formGroup]="postCommentForm" (ngSubmit)="onPostComment()">
                <div class="mb-3 p-fluid">
                    <textarea #textArea pInputTextarea rows="4" placeholder="Enter Your Reply"
                        formControlName="postComment"
                        [ngClass]="{'ng-dirty':postCommentForm.get('postComment')?.touched && postCommentForm.get('postComment')?.invalid}"></textarea>
                </div>
                <div class="flex justify-content-end">
                    <button *ngIf="editMode" pButton label="Cancel" type="button" class="mr-4 cancelBtn"
                        (click)="onCancel()"></button>
                    <button pButton [label]="editMode ? 'Update' : 'Post Comment'" type="submit" class="w-10rem">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<p-dialog [(visible)]="visible" (onHide)="onCloseDialog()" [style]="{ width: '50vw', height: '50vw' }"
    maximizable="true" [modal]="true">
    <div *ngIf="imageUrl" style="display: contents;">
        <img [src]="imageUrl" alt="" style="width: 100%; height: auto;">
    </div>
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" style="width: 100%; height: 100%;" frameborder="0"></iframe>
</p-dialog>