.custom-modal p {
  font-size: 16px;
}

.custom-modal h2 {
  text-decoration: underline;
}

.custom-h {
  color: #93003c;
}

@media screen and (max-width: 500px) {
  .downloadBtn {
    margin-top: 26px;
  }
}
