.modal-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


.email-reset {
    font-size: 27px;
    color: #93003c;
    font-weight: bolder;
}


span.valid-link {
    font-size: 19px;
    font-weight: 700;
    color: #93003c;
}
