tr td {
  text-align: center !important;
}

@media screen and (max-width: 576px) {
  .addBtn {
    margin-top: 20px;
  }
}

.refresh {
  cursor: pointer;
  color: #93003c;
  font-size: 17px;
  transition: all 0.5s ease;
}

.refresh:hover {
  color: #c10751;
}

.submit-btn {
  background-color: #93003c;
  outline: none;
  border: none;
  //   padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  width: 140px;
}
.submit-btn:hover {
  background-color: #c10751;
}

.customDialogExcel::ng-deep .p-dialog-mask{
    align-items: self-start !important;
}

.customDialogExcel::ng-deep .p-dialog-mask .p-dialog{
    margin-top: 6% !important;
}

p-dialog::ng-deep .p-dialog .p-dialog-header .p-dialog-title{
    font-size: 2rem;
}

span.tracking {
  font-weight: 500;
  font-size: 20px;
  /* margin-bottom: 1rem; */
}

.tracking-heading {
  color: #000000;
  font-size: 22px;
  margin-top: 8px;
  font-weight: 700;
}

*::ng-deep .p-inputtextarea{
    resize: none !important;
}

*::ng-deep .p-inputtextarea:focus, *::ng-deep .p-inputtextarea:focus-visible{
    box-shadow: none !important;
    border-color: #93003c !important;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
textarea::-webkit-scrollbar {
  width: 0px; /* Width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #93003c; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 2px solid #f1f1f1; /* Space around the thumb */
}

textarea:hover::-webkit-scrollbar{
    width: 8px;
}

p-radioButton::ng-deep .p-radiobutton .p-radiobutton-box{
    width: 18px !important;
    height: 18px !important;
    margin-top: 2px;
}

p-radioButton::ng-deep .p-radiobutton .p-radiobutton-box .p-radiobutton-icon{
    height: 6px;
    width: 6px;
}


p-radioButton::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight{
    background: #93003c !important;
    border-color: #93003c !important;
}

.radio-button-dialog label{
    font-size: 18px;
}