<div class="card">
    <div class="flex justify-content-between ">
        <h1 class=""
            style="color: #93003c; font-size: 19px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
            Ticket Details</h1>
        <button pButton label="Create AWB" (click)="createAwb()"></button>
    </div>
    <div class="grid custom-modal">

        <div class="col-12 md:col-6 lg:col-6 mt-3 ">
            <h2>SHIPPER DETAILS</h2>
            <p><strong>Shipper Name:</strong> {{singleTicket?.shipperName}}</p>
            <p><strong>Shipper Contact No:</strong> {{singleTicket?.shipperContactNumber}}</p>
            <p><strong>Pickup Address:</strong> {{singleTicket?.pickupAddress}}</p>
            <p><strong>Shipper Ref Number:</strong>{{singleTicket?.shipperRefNumber}}</p>
            <p><strong>Origin Country:</strong> {{singleTicket?.originCountry}}</p>
            <p><strong>Origin City:</strong> {{singleTicket?.originCity}}</p>
        </div>
        <div class="col-12 md:col-6 lg:col-6 mt-3">
            <h2>RECIPIENT DETAILS</h2>
            <p><strong>Recipient Name:</strong> {{singleTicket?.recipientsName}}</p>
            <p><strong>Contact No:</strong> {{singleTicket?.recipientsContactNumber}}</p>
            <p><strong>Delivery Address:</strong> {{singleTicket?.deliveryAddress}}</p>
            <p><strong>Destination Country:</strong> {{singleTicket?.destinationCountry}}</p>
            <p><strong>Destination City:</strong> {{singleTicket?.destinationCity}}</p>
        </div>
        <div class="col-12">
            <h2>OTHER DETAILS</h2>
            <p><strong>Department:</strong> {{singleTicket?.department}}</p>
            <p><strong>Department Category:</strong> {{singleTicket?.departmentCategory}}</p>
            <p><strong>Pickup Date:</strong> {{singleTicket?.pickupDate}}</p>
            <p><strong>Pickup Time:</strong>
                {{singleTicket?.pickupTime[0]}}:{{singleTicket?.pickupTime[1]}}:{{singleTicket?.pickupTime[2]}}</p>
            <p><strong>Assigned To:</strong> {{singleTicket?.assignedTo}}</p>
            <p><strong>Category:</strong> {{singleTicket?.category}}</p>
            <p><strong>Created At:</strong> {{singleTicket?.createdAt}}</p>
            <!-- <p><strong>Created By:</strong> {{singleTicket?.createdBy.name}}</p> -->
            <p><strong>Status:</strong> {{singleTicket?.status}}</p>
            <p><strong>Ticket Flag:</strong> {{singleTicket?.ticketFlag}}</p>

        </div>
    </div>
</div>