<div class="">
    <div class="card">
        <form action="" [formGroup]="awbForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <!-- Shipper Details -->
                <!-- Shipper Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="shippername">Shipper Name</label>
                    <input pInputText id="shippername" type="text" formControlName="shipperName" />
                </div>
                <!-- Shipper Contact -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="contact">Contact Number</label>
                    <input pInputText id="shipperContact" type="text" formControlName="shipperContactNumber" />
                </div>
                <!-- Pickup Address -->
                <div class="field col-12">
                    <label htmlFor="address">Pickup Address</label>
                    <input pInputTextarea id="address" rows="4" formControlName="pickupAddress" />
                </div>
                <!-- Shipper Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="shipperRef">Shipper Ref Number</label>
                    <input pInputText id="shipperRef" type="text" formControlName="shipperRefNumber" />
                </div>
                <!-- Origin Country -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="ocountry">Origin Country</label>
                    <p-dropdown [options]="countries" placeholder="Select Country" [filter]="true"
                        formControlName="originCountry"></p-dropdown>
                </div>
                <!-- Origin City -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="oCity">Origin City</label>
                    <p-dropdown [options]="cities" placeholder="Enter city" formControlName="originCity"
                        [filter]="true"></p-dropdown>
                </div>
                <!-- Recipients Details -->
                <!-- Recipient Name -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="recipientname">Recipient Name</label>
                    <input pInputText id="recipientname" type="text" formControlName="recipientsName" />
                </div>
                <!-- Recipient Contact Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="contactR">Contact Number</label>
                    <input pInputText id="recipientsContact" type="text" formControlName="recipientsContactNumber" />
                </div>
                <!-- Delivery Address -->
                <div class="field col-12">
                    <label htmlFor="daddress">Delivery Address</label>
                    <input pInputTextarea id="daddress" rows="4" formControlName="deliveryAddress" />
                </div>
                <!-- Destination Country -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="dcountry">Destination Country</label>
                    <p-dropdown [options]="countries" placeholder="Select Country" [filter]="true"
                        formControlName="destinationCountry"></p-dropdown>
                </div>
                <!-- Destination City -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="dcity">Destination City</label>
                    <p-dropdown [filter]="true" [options]="cities" placeholder="Select city"
                        formControlName="destinationCity"></p-dropdown>
                </div>
                <!-- Pickup Date -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity">Pickup Date</label>
                    <p-calendar dateFormat="yy-mm-dd" [showIcon]="true" formControlName="pickupDate"
                        [ngClass]="{'ng-dirty':awbForm.get('pickupDate')?.touched && awbForm.get('pickupDate')?.invalid}"></p-calendar>
                    <small *ngIf="!awbForm.get('pickupDate')?.valid && awbForm.get('pickupDate')?.touched"
                        class="text-red-500">
                        Field is required
                    </small>
                </div>
                <!-- Pickup Time -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dcity">Pickup Time</label>
                    <p-calendar [hourFormat]="24" [timeOnly]="true" formControlName="pickupTime" [showSeconds]="true"
                        [ngClass]="{'ng-dirty':awbForm.get('pickupTime')?.touched && awbForm.get('pickupTime')?.invalid}"
                        [required]="true"></p-calendar>
                    <small *ngIf="!awbForm.get('pickupTime')?.valid && awbForm.get('pickupTime')?.touched"
                        class="text-red-500">
                        Field is required
                    </small>
                </div>
                <!-- Product Type -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="producttype">Product Type</label>
                    <p-dropdown [filter]="true" [options]="productType" placeholder="Enter city"
                        formControlName="productType"></p-dropdown>
                </div>
                <!-- Service Type -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="servicetype">Service Type</label>
                    <p-dropdown [filter]="true" [options]="serviceType" placeholder="Enter city"
                        formControlName="serviceType"></p-dropdown>
                </div>
                <!-- Pieces -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="pieces">Pieces</label>
                    <input pInputText id="pieces" type="number" formControlName="pieces" />
                </div>
                <!-- Weight -->
                <div class="field col-12 md:col-3">
                    <label htmlFor="weight">Weight</label>
                    <input pInputText id="weight" type="text" formControlName="weight" />
                </div>
                <!-- Content -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="content">Content</label>
                    <input pInputText id="content" type="text" formControlName="content" />
                </div>
                <!-- Currency -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="currency">Currency</label>
                    <p-dropdown [options]="currencies" class="w-4" formControlName="currency"
                        placeholder="Select a currency"></p-dropdown>
                </div>
                <!-- Amount -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="amount">Amount</label>
                    <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                        placeholder="Enter Amount" formControlName="amount">
                    </p-inputNumber>
                </div>
                <!-- Status -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="status">Status</label>
                    <p-dropdown [options]="status" placeholder="Select status" formControlName="status"></p-dropdown>
                </div>
                <!-- Duty & Taxes Bill To -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="dutytaxes">Duty and Taxes Bill To</label>
                    <p-dropdown [options]="dutyTaxes" placeholder="Select Billing to"
                        formControlName="dutyAndTaxesBillTo"></p-dropdown>
                </div>

                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="editMode" (click)="onCancel()"></button>
                    <button pButton [label]="editMode?'Update':'Create'" type="Submit" class="mx-3 submit-btn"></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>