<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 class="m-0"
                style="color: #93003c; font-size: 23px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
                Accounts List</h1>
            <div class="flex justify-content-end addBtn">
                <button *ngIf="this.sessionStorageService.hasPermission('CREATE_ACCOUNT')" pButton
                    label="Create Account" class="mb-2 mr-2" routerLink="/create-account"></button>

            </div>
            <hr>
            <p-table #dt1 [value]="accounts" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['accountNumber','accountType','customerName']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="mb-2">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                            <p-dropdown class="ml-3 custom-dropdown" [options]="status" [(ngModel)]="selectedStatus"
                                (ngModelChange)="onStatusChange($event)" placeholder="Select"></p-dropdown>
                        </div>

                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 18rem">
                            <div class="flex justify-content-center align-items-center">
                                Actions
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Account Number
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Account Type
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Business Activity
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Customer Name
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Contact Number
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Cust Name
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                Project Name
                            </div>
                        </th>
                        <th style="min-width: 14rem">
                            <div class="flex justify-content-center align-items-center">
                                Trade License Number
                            </div>
                        </th>
                        <th style="min-width: 14rem">
                            <div class="flex justify-content-center align-items-center">
                                Tax Document Number
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td class="text-center">
                            <button pTooltip="View" tooltipPosition="bottom" *ngIf="activeStatus" pButton pRipple
                                type="button" icon="pi pi-eye
                                                    "
                                class="p-button-rounded p-button-secondary p-button-outlined mx-1"
                                routerLink="{{data.id}}"></button>
                            <button pTooltip="Edit" tooltipPosition="bottom"
                                *ngIf="activeStatus && this.sessionStorageService.hasPermission('CREATE_ACCOUNT')"
                                pButton pRipple type="button" icon="pi pi-file-edit"
                                class="p-button-rounded p-button-outlined mx-1"
                                (click)="onEditAccount(data.id)"></button>
                            <button pTooltip="Deactivate" tooltipPosition="bottom"
                                *ngIf="activeStatus && this.sessionStorageService.hasPermission('DELETE_ACCOUNT')"
                                pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-outlined mx-1"
                                (click)="onDeleteAccount(data.id)"></button>
                            <button pTooltip="Download Agreement" tooltipPosition="bottom" *ngIf="activeStatus" pButton
                                pRipple type="button" icon="pi pi-download"
                                class="p-button-rounded p-button-success p-button-outlined mx-1"
                                (click)="onDownloadAgreement(data.id)"></button>
                            <button pTooltip="Activate" tooltipPosition="bottom" *ngIf="!activeStatus" pButton pRipple
                                type="button" icon="pi pi-check"
                                [disabled]="!this.sessionStorageService.hasPermission('DELETE_ACCOUNT')"
                                class="p-button-rounded p-button-success p-button-outlined mx-2"
                                (click)="onActiveAccount(data.id)"></button>
                        </td>

                        <td class="text-center">
                            {{data?.accountNumber}}
                        </td>
                        <td class="text-center">
                            {{data?.accountType}}
                        </td>
                        <td class="text-center">
                            {{data?.businessActivity}}
                        </td>
                        <td class="text-center">
                            {{data?.customerName}}
                        </td>
                        <td class="text-center">
                            {{data?.contactNumber}}
                        </td>
                        <td class="text-center">
                            {{data?.custName}}
                        </td>
                        <td class="text-center">
                            {{data?.projectName}}
                        </td>
                        <td class="text-center">
                            {{data?.tradeLicenseNo}}
                        </td>
                        <td class="text-center">
                            {{data?.taxDocumentNo}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td style="text-align: start !important;" colspan="8">{{activeStatus?'No Account found.':"No
                            Inactive Account found."}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td style="text-align: start !important;" colspan="8">Loading accounts data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <p-dialog [(visible)]="deleteAccountDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to deactivate selected Account?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteAccountDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>

    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>