<div class="card">
    <h1 class="py-3 custom-h">TICKET DATA</h1>
    <div class="grid custom-modal">

        <div class="col-12 md:col-6 lg:col-6 mt-3 ">
            <h2>SHIPPER DETAILS</h2>
            <p><strong>Shipper Name:</strong> {{singleTicket.shipperDetails.shipperName}}</p>
            <p><strong>Contact No:</strong> {{singleTicket.shipperDetails.shipperContact}}</p>
            <p><strong>Pickup Address:</strong> {{singleTicket.shipperDetails.pickUpAddress}}</p>
            <p><strong>Shipper Ref#:</strong>{{singleTicket.shipperDetails.shipperRef}}</p>
            <p><strong>Origin Country:</strong> {{singleTicket.shipperDetails.originCountry}}</p>
            <p><strong>Origin City:</strong> {{singleTicket.shipperDetails.originCity}}</p>
        </div>
        <div class="col-12 md:col-6 lg:col-6 mt-3">
            <h2>RECIPIENT DETAILS</h2>
            <p><strong>Recipient Name:</strong> {{singleTicket.recipientDetails.recipientName}}</p>
            <p><strong>Contact No:</strong>{{singleTicket.recipientDetails.recipientContact}}</p>
            <p><strong>Delivery Address:</strong> {{singleTicket.recipientDetails.deliveryAddress}}</p>
            <p><strong>Destination Country:</strong> {{singleTicket.recipientDetails.destinationCountry}}</p>
            <p><strong>Destination City:</strong> {{singleTicket.recipientDetails.destinationCity}}</p>
        </div>
        <div class="col-12">
            <h2>SHIPMENT DETAILS</h2>
            <p><strong>Product Type:</strong> {{singleTicket.shipmentDetails.productType}}</p>
            <p><strong>Service Type:</strong> {{singleTicket.shipmentDetails.serviceType}}</p>
            <p><strong>Biling Date and Time:</strong> {{singleTicket.shipmentDetails.pickupDateTime}}</p>
            <p><strong>Duty and Taxes Billing to:</strong> {{singleTicket.shipmentDetails.dutyTaxBillingTo}}</p>
            <p><strong>Pieces:</strong> {{singleTicket.shipmentDetails.pieces}}</p>
            <p><strong>Weight:</strong> {{singleTicket.shipmentDetails.weight}}</p>
            <p><strong>Content:</strong> {{singleTicket.shipmentDetails.content}}</p>
            <p><strong>Currency:</strong> {{singleTicket.shipmentDetails.amountCurrency.currency}}</p>
            <p><strong>Amount:</strong> {{singleTicket.shipmentDetails.amountCurrency.amount}}</p>

        </div>
    </div>
</div>