<div class="">
    <div class="card">
        <h1 class="mb-5"
            style="color: #93003c; font-size: 17.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">
            {{mode == 'Add'? "Add Rate" :"Update Rate" }}</h1>
        <form action="" [formGroup]="addressBookForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label><strong>From Country</strong></label>
                    <p-dropdown #dropdown1 [options]="countries" formControlName="fromCountry" placeholder="Select Country"
                        [filter]="true"
                        [ngClass]="{'ng-dirty':addressBookForm.get('fromCountry')?.touched && addressBookForm.get('fromCountry')?.invalid}"></p-dropdown>
                    <small *ngIf="!addressBookForm.get('fromCountry')?.valid && addressBookForm.get('fromCountry')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label><strong>To Country</strong></label>
                    <p-dropdown #dropdown2 [options]="countries" formControlName="toCountry" placeholder="Select Country"
                        [filter]="true"
                        [ngClass]="{'ng-dirty':addressBookForm.get('toCountry')?.touched && addressBookForm.get('toCountry')?.invalid}"></p-dropdown>
                    <small *ngIf="!addressBookForm.get('toCountry')?.valid && addressBookForm.get('toCountry')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label><strong>Product</strong></label>
                    <p-dropdown #dropdown3 [options]="products" formControlName="product" placeholder="Select Country"
                        [filter]="true"
                        [ngClass]="{'ng-dirty':addressBookForm.get('product')?.touched && addressBookForm.get('product')?.invalid}"></p-dropdown>
                    <small *ngIf="!addressBookForm.get('product')?.valid && addressBookForm.get('product')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Weight Range From</strong></label>
                    <input pInputTextarea id="name" type="number" rows="4" formControlName="weightRangeFrom" placeholder="Enter Weight Range From"
                        [ngClass]="{'ng-dirty':addressBookForm.get('weightRangeFrom')?.touched && addressBookForm.get('weightRangeFrom')?.invalid}" />
                    <small *ngIf="!addressBookForm.get('weightRangeFrom')?.valid && addressBookForm.get('weightRangeFrom')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Weight Range To</strong></label>
                    <input pInputTextarea id="name" type="number" rows="4" formControlName="weightRangeTo" placeholder="Enter weight range to"
                        [ngClass]="{'ng-dirty':addressBookForm.get('weightRangeTo')?.touched && addressBookForm.get('weightRangeTo')?.invalid}" />
                    <small *ngIf="!addressBookForm.get('weightRangeTo')?.valid && addressBookForm.get('weightRangeTo')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Charges</strong></label>
                    <input pInputTextarea id="name" type="number" rows="4" formControlName="charges" placeholder="Enter weight range to"
                        [ngClass]="{'ng-dirty':addressBookForm.get('charges')?.touched && addressBookForm.get('charges')?.invalid}" />
                    <small *ngIf="!addressBookForm.get('charges')?.valid && addressBookForm.get('charges')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>
                <!-- Ref Number -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="name"><strong>Additional Charges</strong></label>
                    <input pInputTextarea id="name" type="number" rows="4" formControlName="additionalCharges" placeholder="Enter weight range to"
                        [ngClass]="{'ng-dirty':addressBookForm.get('additionalCharges')?.touched && addressBookForm.get('additionalCharges')?.invalid}" />
                    <small *ngIf="!addressBookForm.get('additionalCharges')?.valid && addressBookForm.get('additionalCharges')?.touched"
                        class="text-red-500">
                        Required
                    </small>
                </div>

                <div class="flex justify-content-end w-full">
                    <button pButton label="Cancel" type="button" class="mx-3 p-button-secondary editBtn"
                        *ngIf="mode == 'Update'" (click)="onCancel()"></button>
                    <button pButton type="Submit" [label]="mode" class="mx-3 submit-btn" style="width: 150px;"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
